<!DOCTYPE html>
<html>

<head>

    <title>
        Snippet Manager
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>
        Code Snippet Manager
    </h1>

    <hr>

    <h3>

        Indexed Files:
        {{ total_files }}

    </h3>

    <h3 id="watcher-status">

        Watcher Status:
        Running

    </h3>

    <hr>

    <form action="/search" method="get">

        <input type="text" name="q" placeholder="Search code...">

        <button type="submit">
            Search
        </button>

        <br>
        <br>

        <button type="button" onclick="refreshIndex()">

            Refresh Index

        </button>

        <br>
        <br>

        <label>

            Language

        </label>

        <select name="language">

            <option value="">

                All

            </option>

            <option value="python">

                Python

            </option>

            <option value="javascript">

                JavaScript

            </option>

            <option value="rust">

                Rust

            </option>

        </select>

        <br>
        <br>

        <label>

            Extension

        </label>

        <select name="extension">

            <option value="">

                All

            </option>

            <option value="py">

                .py

            </option>

            <option value="js">

                .js

            </option>

            <option value="rs">

                .rs

            </option>

        </select>

        <br>
        <br>

        <label>

            Match Type

        </label>

        <select name="match_type">

            <option value="normal">

                Normal

            </option>

            <option value="exact">

                Exact

            </option>

        </select>


    </form>


</body>

<script>

    function refreshIndex() {

        fetch(
            "/refresh"
        )

            .then(
                response =>
                    response.text()
            )

            .then(
                data =>
                    alert(data)
            );
    }

</script>

</html>