<!DOCTYPE html>
<html>

<head>

    <style>
        {
                {
                css|safe
            }
        }
    </style>

    <title>
        Snippet Viewer
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>

        {{ snippet[1] }}

    </h1>

    {% if favorite %}

    <a href="/favorite/{{ snippet[0] }}">

        ⭐ Remove From Favorites

    </a>

    {% else %}

    <a href="/favorite/{{ snippet[0] }}">

        ☆ Add To Favorites

    </a>

    {% endif %}

    <br>
    <br>

    <p>

        <b>Path:</b>

        {{ snippet[2] }}

    </p>

    <p>

        <b>Extension:</b>

        {{ snippet[3] }}

    </p>

    <p>

        <b>Lines:</b>

        {{ snippet[4] }}

    </p>

    <button onclick="copyCode()">

        Copy Code

    </button>


    <h2>

        Tags

    </h2>

    {% if tags %}

    <ul>

        {% for tag in tags %}

        <li>

            {{ tag[0] }}

        </li>

        {% endfor %}

    </ul>

    {% else %}

    <p>

        No tags added yet.

    </p>

    {% endif %}

    <form action="/add_tag" method="POST">

        <input type="hidden" name="file_id" value="{{ snippet[0] }}">

        <input type="text" name="tag" placeholder="Enter tag">

        <button type="submit">

            Add Tag

        </button>

    </form>

    <hr>




    <hr>

    <div id="code-block">

        {{ highlighted|safe }}

    </div>

    <script>

        function copyCode() {

            navigator.clipboard.writeText(
                `{{ code }}`
            );

            alert(
                "Code copied!"
            );
        }

    </script>

    <br>
    <br>

    <a href="/">

        Back To Search

    </a>

</body>

</html>