body {

    font-family: Arial;

    margin: 40px;
}

input {

    width: 400px;

    padding: 10px;
}

button {

    padding: 10px;
}

h1 {

    color: #333;
}

pre {

    background-color: #f4f4f4;

    padding: 20px;

    overflow-x: auto;

    border: 1px solid #ccc;

    white-space: pre-wrap;
}